@model PASSION_PROJECT_ORDER_MANAGEMENT_APP.Models.OrderDto

@{
    ViewBag.Title = "DeleteConfirm";
    var backgroundImagePath = Url.Content("~/Content/Images/Location/cake.jpg");
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-image: url('@backgroundImagePath');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            font-family: Arial, sans-serif;
            color: #333;
            margin: 0;
            padding: 0;
        }

        h2 {
            color: ghostwhite;
            text-align: left;
            margin-bottom: 20px;
            font-size: 2em; 
        }

        div {
            color: ghostwhite;
            margin-bottom: 10px;
        }

        form {
            background-color: rgba(0, 0, 0, 0.7);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            max-width: 400px;
            width: 80%;
            margin: auto;
        }

        input[type="submit"],
        button {
            background-color: lightcoral;
            color: white;
            border: none;
            cursor: pointer;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 1.2em; 
            margin-top: 10px;
        }

        input[type="submit"]:hover,
        button:hover {
            background-color: darkred;
        }

        .cancel {
            background-color: sandybrown;
            text-decoration: none;
            color: white;
            border: none;
            cursor: pointer;
            padding: 10px 20px;
            border-radius: 5px;
            font-size: 1.2em; 
            margin-top: 10px;
            display: inline-block;
        }

        .Name {
            font-size: 1.5em; 
            font-weight: bold;
        }

        .Price {
            font-size: 1.2em; 
        }
    </style>
</head>
<body>
    <h2>Are you sure you want to delete this order?</h2>
    <a class="cancel" href="/Order/List">Cancel</a>
    <h2>@Model.Order_id</h2>
    <div class="Name">Menu Name: @Model.Menu_Name</div>
    <div class="Name">Customer Name: @Model.Customer_Name</div>
    <div class="Name">Order Date: @Model.Order_Date</div>
    <form action="/Menu/Delete/@Model.Order_id" method="POST">
        <input type="submit" value="Confirm Delete" />
    </form>
</body>
</html>
