@model PASSION_PROJECT_ORDER_MANAGEMENT_APP.Models.Customer
@{
    ViewBag.Title = "View";
}
<a href="/Customer/List">Go back to list</a>
<h2>@Model.Customer_id</h2>
<div>address: @Model.Address</div>

