
@{
    ViewBag.Title = "Create";
}

<h2>Create Customer</h2>
<form action="/Customer/Create" method="POST">
    <div>
        <label>Name</label> <input type="text" name="CustomerName" />
    </div>
    <div>
        <label>Username</label> <input type="text" name="Username" />
    </div>
    <div>
        <label>Password</label> <input type="text" name="Password" />
    </div>
    <div>
        <label>Address</label> <input type="text" name="Address" />
    </div>
    <div>
        <label>Phone_no</label> <input type="number" name="Phone_no" />
    </div>
    <div>
        <label>Email</label> <input type="email" name="Email" />
    </div>
    <div>
        <label>Registration_date</label> <input type="datetime" name="Registration_date" />
    </div>
    
</form>
