@{
    ViewBag.Title = "About Us";
    
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
   

    <p>An application designed to streamline bakery operations, helping bakeries manage customer orders efficiently and smoothly.
    It eliminates long queues and waiting times for customers, enhancing overall satisfaction.</p>

    <p>This application offers the following features:</p>
    <ul>
        <li>Order Management</li>
        <li>Customer Management</li>
        <li>Menu Management</li>
        <li>And much more!</li>
    </ul>
</main>
