@{
    
    ViewBag.Message = "Contact Us";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Bakery Order Management App<br />
        456 Giri Lane<br />
        Los Angeles, CA 90001
    </address>

    <address>
        <strong>Customer Support:</strong>   <a href="mailto:support@bakeryorderapp.com">support@bakeryorderapp.com</a><br />
        <strong>Sales Inquiries:</strong> <a href="mailto:sales@bakeryorderapp.com">sales@bakeryorderapp.com</a>
    </address>
</main>
