@{
    ViewBag.Title = "Home Page";
}

<style>
   
    ul {
        list-style-type: none;
        padding-left: 0;
    }

        
        ul li {
            margin-bottom: 5px; 
        }
</style>

<main class="d-flex justify-content-center align-items-center" style="height: 70vh;">
    <section class="text-center">
        <div>
            <h1>Welcome to Bakery Order Management App</h1>
            <p>An application which helps the bakeries to manage customer orders efficiently and smoothly. It also helps the customers to avoid standing in a long queue waiting for their bills. In this way, this application saves a lot of time for the customer and for the managers.</p>
            <p>This application provides features such as:</p>
            <ul>
                <li>Order management</li>
                <li>Customer Management</li>
                <li>Menu Management</li>
                <li>And much more!</li>
            </ul>
        </div>
    </section>
</main>
